html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}

* {
  /* for responsive */
  max-height: 10000000px;
}

#wrapper {
  /* it is done for responsive  because some element can take widh which  */
  position: relative;
  overflow: hidden;
  width: 100%;
  z-index: 0;
}

body {
  /* for responsive */
  color: #333;
  margin: 0;
  position: relative;
  min-width: 320px; //it means after 320px we
}

h2 {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
li {
  margin: 0px;
  padding: 0px;
  /* list-style: none; */
}

body {
  margin: 0px;
  font-family: "Noto Sans", sans-serif;
}

button {
  cursor: pointer;
}

.site-header {
  background-color: #0857a5;
  color: #ffffff;
}

.container {
  max-width: 1224px 
  /* 1200 + 12 +12  her 1200 must be the contain with */
  margin: 0 auto;
  padding: 0px 12px; //its is given for good mobile device
  /* border: solid red 3px; */
}

.site-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-logo {
  width: 180px;
}
.site-logo img {
  width:100%;
  display: block;
  height: auto;

}

.site-logo a {
  display: block;
  /* here we have to convert it to block because it contin inline block */
  /* inline should not contain block element or inline block */
  background: #ffffff;
  border-radius: 0px 0px 5px 5px;
  padding: 10px 20px;
  margin: 0 0 10px;
}

nav{
  display:none;
}
.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.site-nav ul li {
  padding: 0 20px;
}

.site-nav ul a {
  color: #ffffff;
  text-decoration: none;
}

/* .site-nav ul .nav-login {
  background: #fff;
  color: black;
  padding: 9px 32px;
  display: block;
  height: 40px;
  border-radius: 20px;
  text-align: center;
} */
/* .site-nav ul li:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background: #fff;
  border-radius: 20px;
} */

.site-nav ul .nav-login {
  color: black;
}

.main__slider {
}

.main__slider .slide {
  /* position: relative; */
  background-image: url("../uploads/img01.jpg");
  background-repeat: no-repeat;
  background-size: cover; /* or specify other values like 'contain' */
  background-position: center center; /* or specify other values */
  height: 550px;
}

/* .main__slider .slide img {
  display: block;
  width: 100%;
  height: auto;
} */

.main__slider .container {
  width: 100%;
  height: 100%;
  position: relative;
}
.main__slider .slide .caption {
  /* background: #000; */
  background-color: rgba(0, 0, 0, 0.65);
  color: #fff;
  position: absolute;
  bottom: 41px;
  left: 0px;
  padding: 34px;
  width: 516px;
}

.main__slider .caption .meta {
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  marigin: 0px 0px 10px;
}

.main__slider .caption .title {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  font-size: 46px;
  line-height: 1.5;
  /* it is good practice */
  /* font: bold 46px/1.5 'Noto Sans', sans-serif; */
  margin: 0px 0px;
}

.btn {
  cursor: pointer;
  background-color: white;
  color: black;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  height: 40px;
  padding: 10px 32px;
  border-radius: 40px;
  font: 500 16px/18px "Noto Sans", sans-serif;
}

.btn-white {
  background-color: white;
  color: black;
}
.btn-primary {
  background-color: #0857a5;
  color: white;
}

/* grid design using flex */

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
}

.column-1 {
  width: calc(100% / 1);
  padding: 0px 12px;
  margin: 0px 0px 61px;
}
.column-2 {
  width: calc(100% / 2);
  padding: 0px 12px;
  margin: 0px 0px 61px;
}
.column-3 {
  width: calc(100% / 3);
  padding: 0px 12px;
  margin: 0px 0px 61px;
}

.column-4 {
  width: calc(100% / 4);
  padding: 0px 12px;
  margin: 0px 0px 61px;
}
.column-5 {
  width: calc(100% / 4);
  padding: 0px 12px;
  margin: 0px 0px 61px;
}
.column-6 {
  width: calc(100% / 4);
  padding: 0px 12px;
  margin: 0px 0px 61px;
}

.nowplay {
  padding: 40px 0px 60px;
}
.nowplay h2 {
  margin: 0px 0px 10px;
}

.nowplay__movie-img {
  /* width: 100%; */
  /* display: block; */
  /* height: auto; */
  position: relative;
  margin: 0 0 10px;
}
.nowplay__movie-img img {
  width: 100%;
  display: block;
  height: auto;
}

.nowplay__movie {
  /* position: relative; */
}

.nowplay__movie .certificate {
  position: absolute;
  top: 14px;
  right: 13px;
  background: #fff;
  font-family: "Noto Sans", sans-serif;
  font-weight: 500px;
  font-size: 22px;
  line-height: 1;
  border-radius: 50%;
  height: 52px;
  width: 52px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nowplay__movie .btn {
  position: absolute;
  bottom: 20px;
  right: 50%;
  transform: translateX(50%);
}

.nowplay__movie-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.5;
  margin: 0;
}
.nowplay__movie-facts {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.display {
  background: #f1f1f1;
  padding: ;
}

.display__tabset {
  padding: 61px 0px;
}

.display__tabset ul.tab {
  border-bottom: solid #0857a5 3px;
}
.display__tabset ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin: 39px;
}

.display__tabset ul li {
  margin: 0px 10px;
}

.display__tabset li button.active {
  background: #0857a5;
  color: #fff;
}
.display__tabset li button {
  /* display: inline;
  verticalalign: top; */
  padding: 10px 29px;

  border-radius: 5px 5px 0px 0px;
  color: #000;
  font: 600 26px/1.5 "Noto Sans", sans-serif;
  border: none;
  transition: background-color 0.3s ease;
  /* background: none */
}

.display__tabset li button:hover {
  background: #7fb9f2;
}

.display__tabitem .movie {
}

.display__tabitem .movie .movie__img {
  position: relative;
  margin: 0px 0px 16px;
}

.display__tabitem .movie__img img {
  display: "block";
  width: 100%;
  height: auto;
}
.display__tabitem .movie__img .genre {
  position: absolute;
  top: 12px;
  right: 19px;
  background: white;
  border-radius: 8.78px 1.76px;
  padding: 3px 5px;
  font: 500 13px/1.5 "Noto Sans", sans-serif;
}

.display__tabitem .movie__title {
  color: #0857a5;
  margin: 0px 0px 7px;
}

.display__tabitem ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  margin-bottom: 20px;
}
.display__tabitem ul li {
  margin: 0px;
  padding: 0px;
}
.display__tabitem .movie__excerpt p {
  font: 400 14px/1.5 "Noto Sans", sans-serif;
}

.offer {
  padding: 54px 0px 87px;
  background: #fff;
}

.offer__section h2 {
  margin: 0px 0px 21px;
  font: 600 32px/0.7 "Noto Sans", sans-serif;
}
.offer__section .offer__section-img {
}
.offer__section .offer__section-img img {
  display: block;
  width: 100%;
  height: auto;
}

.testimonials {
  padding: 87px 0px 65px;
  background: #f5f5f5;
}
.testimonials__space {
  width: 788px;
  margin: 0px auto;
}
.testimonials__title {
  text-align: center;
  font: 600 30px/1 "Noto Sans", sans-serif;
  margin: 0px;
  margin: 0px 0px 58px;
}
.testimonials__heading {
  font: 600 24px/1 "Noto Sans", sans-serif;
  margin: 0px;
  padding: 0px 0px 0px 122px;
  margin: 0px 0px 10px;
}
.testimonials__blockquote {
  margin: 0px;
}
.testimonials__blockquote q {
  display: block;
  quotes: none;
  font: 400 15px/2 "Noto Sans", sans-serif;
  padding: 0 0 0 122px;
  margin: 0px 0px 32px;
}

.testimonials__cite {
  display: flex;
  align-items: center;
}
.testimonials__gap {
  width: 122px;
}
.testimonials__avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
}
.testimonials__avatar img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testimonials__giver {
}
.testimonials__name {
  font: 600 20px/1.5 "Noto Sans", sans-serif;
}
.testimonials__address {
  font: 400 16px/1 "Noto Sans", sans-serif;
}

.footer {
}

.footer__bar {
  background-color: #0857a5;
}

.footer .footer__bar .container {
  display: flex;
  justify-content: space-between;
  padding: 22px 0px;
}

.footer__bar-listgroup {
  display: flex;
  flex-direction: column;
}
.footer--social {
}
.footer__heading {
  font: 600 18px/1 "Noto Sans", sans-serif;
  color: white;
  margin: 0px 0px 13px;
}
.footer__bar-list {
  display: flex;
  list-style: none;
}
.footer .footer__bar-list .icon {
  display: block;
  height: 42px;
  width: 42px;
  background: #fff;
  border-radius: 5px;
  margin: 0px 19px 0px 0px;
}

.footer--payment {
  text-align: right;
}
.footer--payment .footer__bar-list {
  margin: 0px -19px;
}

.icon-instagram {
}
.icon-youtube {
}
.icon-twitter {
}
.icon-esewa {
}
.icon-khalti {
}
.icon-imepay {
}
.icon-visa {
}

.footer_frame {
  background: #003b74;
  padding: 42px 0px 0px;
}

.footer .footer__details {
  background-color: #fff;
  padding: 22px 24px 0px;
  text-align: center;
  border-radius: 5px 5px 0px 0px;
}

.footer .footer__details-logo img {
  width: 176px;
  height: 61px;
  margin: 0px 0px 21px;
}
.footer__address {
  margin: 0px 0px 24px;
  font: 600 16px/1.5 "Noto Sans", sans-serif;
  color: #333333;
}
.footer__copy {
  font: 400 12px/1 "Noto Sans", sans-serif;
  color: #333333;
  margin: 0px 0px 6px;
}
.column-4--margin-zero {
  margin: 0px;
}

.footer .footer-title {
  margin: 0px 0px 27px;
  font: 600 22px/1 "Noto Sans", sans-serif;
  color: white;
}

.footer ul li {
  font: 600 22px/1 "Noto Sans", sans-serif;
  color: white;
}
.footer ul li a {
  display: block;
  color: white;
  font: 400 15px/2 "Noto Sans", sans-serif;

  text-decoration: none;
}

.footer__subscribetext {
  color: white;
  font: 400 15px/2 "Noto Sans", sans-serif;
  margin: 0px 0px 11px;
}

.footer__subscriber-input {
  position: relative;
  background: #fff;
  border-radius: 5px;
  height: 40px;
  padding: 2px 2px 2px 40px;
}
.footer__subscriber-input input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}
.footer__subscriber-input input:focus {
  outline: none;
  border: none;
}
.footer__subscriber-icon {
  position: absolute;
  border: none;
  top: 2px;
  right: 2px;
  height: 36px;
  width: 36px;
  background: #0857a5;
  border-radius: 5px;
}

/* media query are written at button */
