fieldset {
  border-radius: 20px;
  margin-bottom: 30px;
}
.signup .input-wrapper {
  display: flex;
  align-items: center;
}
.signup label {
  margin: 0px 10px 0px 0px;
}

.signup input {
  flex: 1;
}

.signup input[type="text"],
.signup input[type="email"],
.signup input[type="number"],
.signup input[type="password"],
.signup input[type="date"],
.signup input[type="tel"] {
  /* width: 100%; */
  height: 40px;
  border: solid black 2px;
  outline: none;
  border-radius: 5px;
  padding: 0px 20px;
}
.signup input[type="text"]:focus,
.signup input[type="email"]:focus,
.signup input[type="number"]:focus,
.signup input[type="password"]:focus,
.signup input[type="date"]:focus,
.signup input[type="tel"]:focus {
  /* width: 100%; */

  border: solid blue 2px;
  outline: none;
}

textarea {
  resize: none;
  border: solid black 2px;
  outline: none;
}
textarea:focus {
  resize: none;
  border: solid blue 2px;
  outline: none;
}
